/1-JavaBasico/Semana1/Dia1/Clase7jpa/target/
/1-JavaBasico/Semana1/Dia1/Ejercicio2/nbproject/private/
/1-JavaBasico/Semana1/Dia1/Ejercicio3/nbproject/private/
/1-JavaBasico/Semana1/Dia1/Ejercicio4/nbproject/private/
/1-JavaBasico/Semana1/Dia2/Ejercicio5/nbproject/private/
/1-JavaBasico/Semana1/Dia2/Ejercicio6/nbproject/private/
/1-JavaBasico/Semana1/Dia2/Ejercicio7/nbproject/private/
/1-JavaBasico/Semana1/Dia2/Ejercicio8/nbproject/private/
/1-JavaBasico/Semana1/Dia3/Ejercicio9/nbproject/private/
/1-JavaBasico/Semana1/Dia3/Ejercicio10/nbproject/private/
/1-JavaBasico/Semana2/Dia1/Ejercicio11/nbproject/private/
/1-JavaBasico/Semana2/Dia1/Ejercicio12/nbproject/private/
/1-JavaBasico/Semana2/Dia2/Ejercicio13/nbproject/private/
/1-JavaBasico/Semana2/Dia2/Ejercicio14/nbproject/private/
/1-JavaBasico/Semana1/Dia1/Ejercicio1/build/
/1-JavaBasico/Semana1/Dia1/Ejercicio2/build/
/1-JavaBasico/Semana1/Dia1/Ejercicio3/build/
/1-JavaBasico/Semana1/Dia1/Ejercicio4/build/
/1-JavaBasico/Semana1/Dia2/Ejercicio5/build/
/1-JavaBasico/Semana1/Dia2/Ejercicio6/build/
/1-JavaBasico/Semana1/Dia2/Ejercicio7/build/
/1-JavaBasico/Semana1/Dia2/Ejercicio8/build/
/1-JavaBasico/Semana1/Dia3/Ejercicio9/build/
/1-JavaBasico/Semana1/Dia3/Ejercicio10/build/
/1-JavaBasico/Semana2/Dia1/Ejercicio11/build/
/1-JavaBasico/Semana2/Dia1/Ejercicio12/build/
/1-JavaBasico/Semana2/Dia2/Ejercicio13/build/
/1-JavaBasico/Semana2/Dia3/ejercicio16/target/
/1-JavaBasico/Semana2/Dia2/Ejercicio14/build/
